[Unit]
Description=AIC8800 Bluetooth attach
Documentation=man:hciattach(1)
Before=bluetooth.service
Wants=bluetooth.service
ConditionPathExists=/sys/devices/platform/ffa00000.serial

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/rk35xx-bt

[Install]
WantedBy=multi-user.target
